/* RESET START -------------------------------------------------------------------- */
*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
}
input, select, iframe, button{
    border: none;
    font-family: 'Open Sans', sans-serif;    
}
h1, h2, h3{
    margin: 0;
    padding: 0;
}
ol, ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: #f9014d;
}
/* RESET END ---------------------------------------------------------------------- */


/* START HEADER --------------------------------------------------------------------*/
.header{
    background-color: lightblue;
}
/* END READER ----------------------------------------------------------------------*/


/* STAR SECTION --------------------------------------------------------------------*/
.section{
    float: left;
    width: 100%;
    background-color: seagreen;
    

}
.search-box{
    text-align: center;
    color: #fff;
    padding: 100px;
    background-image: url(../imagens/bg-search.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.search-box h1{
    font-size: 50px;
    font-weight: bold;
}
.search-box .tagline{
    font-size: 25px;
    font-weight: bold;

}
.search-box form{
    position: relative;
    display: inline-block;
    width: 90%;
    max-width: 500px;
    margin-top: 40px;
}
.search-box form input[type="search"]{
    width: 100%;
    height: 50px;
    font-size: inherit;
    color: #2c3e50;
    padding: 0 70px 0 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}
.search-box form button{
    background-color: #a70606;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 0px 6px 6px 0px;
    -webkit-border-radius: 0px 6px 6px 0px;
}
.estatisticas{
    background-color: #fff;
    max-width: 960px;
    width: 90%;
    padding: 30px 0;
    margin: -30px auto 0 auto;
    text-align: center;
    display: flex;
    display:-webkit-flex;
    border-radius: 10px;
    align-items: center;
    -webkit-border-radius: 10px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .3);
}
.estatisticas-item span{
    font-size: 33px;
    font-weight: bold;
}

.estatisticas-item p{
    font-size: 25px;
    font-weight: bold;
}
/* END SECTION ---------------------------------------------------------------------*/

/* BREAKPOINTS MAX E MIN */

@media (max-width: 667px){
    .estatisticas{
        flex-direction: column;
    }
    .estatisticas-item{
        min-width: 90%;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
    }
}